In [4]:
import pandas as pd

# Load Spotify dataset
spotify_df = pd.read_csv('data/taylor_swift_spotify.csv')

# Load lyrics dataset
lyrics_df = pd.read_csv('data/taylor_swift_lyrics.csv')

# Show the first 5 rows of each to verify
print("Spotify Dataset:")
display(spotify_df.head())

print("Lyrics Dataset:")
display(lyrics_df.head())

Spotify Dataset:

,Unnamed: 0,name,album,release_date,track_number,id,uri,acousticness,danceability,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,popularity,duration_ms
0,0,Welcome To New York (Taylor's Version),1989 (Taylor's Version) [Deluxe],2023-10-27,1,4WUepByoeqcedHoYhSNHRt,spotify:track:4WUepByoeqcedHoYhSNHRt,0.009420,0.757,0.610,0.000037,0.3670,-4.840,0.0327,116.998,0.685,79,212600
1,1,Blank Space (Taylor's Version),1989 (Taylor's Version) [Deluxe],2023-10-27,2,0108kcWLnn2HlH2kedi1gn,spotify:track:0108kcWLnn2HlH2kedi1gn,0.088500,0.733,0.733,0.000000,0.1680,-5.376,0.0670,96.057,0.701,79,231833
2,2,Style (Taylor's Version),1989 (Taylor's Version) [Deluxe],2023-10-27,3,3Vpk1hfMAQme8VJ0SNRSkd,spotify:track:3Vpk1hfMAQme8VJ0SNRSkd,0.000421,0.511,0.822,0.019700,0.0899,-4.785,0.0397,94.868,0.305,80,231000
3,3,Out Of The Woods (Taylor's Version),1989 (Taylor's Version) [Deluxe],2023-10-27,4,1OcSfkeCg9hRC2sFKB4IMJ,spotify:track:1OcSfkeCg9hRC2sFKB4IMJ,0.000537,0.545,0.885,0.000056,0.3850,-5.968,0.0447,92.021,0.206,79,235800
4,4,All You Had To Do Was Stay (Taylor's Version),1989 (Taylor's Version) [Deluxe],2023-10-27,5,2k0ZEeAqzvYMcx9Qt5aClQ,spotify:track:2k0ZEeAqzvYMcx9Qt5aClQ,0.000656,0.588,0.721,0.000000,0.1310,-5.579,0.0317,96.997,0.520,78,193289

Lyrics Dataset:

,index,Album,Song Name,Lyrics
0,0,Taylor Swift,Mary's Song (Oh My My My),She said I was seven and you were nine I looke...
1,1,Taylor Swift,A Perfectly Good Heart,Why would you wanna break A perfectly good hea...
2,2,Taylor Swift,Tim McGraw,He said the way my blue eyes shined Put those ...
3,3,Taylor Swift,Teardrops On My Guitar,Drew looks at me I fake a smile so he won't se...
4,4,Taylor Swift,Cold as You,You have a way of coming easily to me And when...

In [5]:
# Spotify dataset checks
print(" Spotify Dataset Info:")
spotify_df.info()

print("\nMissing values in Spotify:")
print(spotify_df.isnull().sum())

print("\nDuplicate rows in Spotify:", spotify_df.duplicated().sum())

# Lyrics dataset checks
print("\n Lyrics Dataset Info:")
lyrics_df.info()

print("\nMissing values in Lyrics:")
print(lyrics_df.isnull().sum())

print("\nDuplicate rows in Lyrics:", lyrics_df.duplicated().sum())

 Spotify Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        530 non-null    int64
 1   name              530 non-null    object
 2   album             530 non-null    object
 3   release_date      530 non-null    object
 4   track_number      530 non-null    int64
 5   id                530 non-null    object
 6   uri               530 non-null    object
 7   acousticness      530 non-null    float64
 8   danceability      530 non-null    float64
 9   energy            530 non-null    float64
 10  instrumentalness  530 non-null    float64
 11  liveness          530 non-null    float64
 12  loudness          530 non-null    float64
 13  speechiness       530 non-null    float64
 14  tempo             530 non-null    float64
 15  valence           530 non-null    float64
 16  popularity        530 non-null    int64
 17  duration_ms       530 non-null    int64
dtypes: float64(9), int64(4), object(5)
memory usage: 74.7+ KB

Missing values in Spotify:
Unnamed: 0          0
name                0
album               0
release_date        0
track_number        0
id                  0
uri                 0
acousticness        0
danceability        0
energy              0
instrumentalness    0
liveness            0
loudness            0
speechiness         0
tempo               0
valence             0
popularity          0
duration_ms         0
dtype: int64

Duplicate rows in Spotify: 0

 Lyrics Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      147 non-null    int64
 1   Album      147 non-null    object
 2   Song Name  147 non-null    object
 3   Lyrics     147 non-null    object
dtypes: int64(1), object(3)
memory usage: 4.7+ KB

Missing values in Lyrics:
index        0
Album        0
Song Name    0
Lyrics       0
dtype: int64

Duplicate rows in Lyrics: 0

## Minor data cleaning and feature engineering

In [6]:
# Convert release_date to datetime
spotify_df['release_date'] = pd.to_datetime(spotify_df['release_date'])

# Convert duration from ms to minutes
spotify_df['duration_min'] = spotify_df['duration_ms'] / 60000

# Basic stats and preview of albums
print("Albums in dataset:")
print(spotify_df['album'].value_counts())

print("\nRelease year range:")
print(spotify_df['release_date'].min(), "→", spotify_df['release_date'].max())

# Add a 'release_year' column 
spotify_df['release_year'] = spotify_df['release_date'].dt.year

# Preview updated dataset
spotify_df[['name', 'album', 'release_date', 'duration_min', 'release_year']].head()

Albums in dataset:
album
reputation Stadium Tour Surprise Song Playlist                                         46
folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]    34
Red (Taylor's Version)                                                                 30
Fearless (Taylor's Version)                                                            26
Midnights (The Til Dawn Edition)                                                       23
1989 (Taylor's Version) [Deluxe]                                                       22
Speak Now (Taylor's Version)                                                           22
Red (Deluxe Edition)                                                                   22
1989 (Taylor's Version)                                                                21
Midnights (3am Edition)                                                                20
Speak Now (Deluxe Edition)                                                             20
Fearless Platinum Edition                                                              19
1989 (Deluxe Edition)                                                                  19
Lover                                                                                  18
folklore (deluxe version)                                                              17
evermore (deluxe version)                                                              17
folklore                                                                               16
Red                                                                                    16
Speak Now World Tour Live                                                              16
reputation                                                                             15
evermore                                                                               15
Taylor Swift                                                                           15
Speak Now                                                                              14
1989                                                                                   13
Midnights                                                                              13
Fearless                                                                               13
Live From Clear Channel Stripped 2008                                                   8
Name: count, dtype: int64

Release year range:
2006-10-24 00:00:00 → 2023-10-27 00:00:00

,name,album,release_date,duration_min,release_year
0,Welcome To New York (Taylor's Version),1989 (Taylor's Version) [Deluxe],2023-10-27,3.543333,2023
1,Blank Space (Taylor's Version),1989 (Taylor's Version) [Deluxe],2023-10-27,3.863883,2023
2,Style (Taylor's Version),1989 (Taylor's Version) [Deluxe],2023-10-27,3.850000,2023
3,Out Of The Woods (Taylor's Version),1989 (Taylor's Version) [Deluxe],2023-10-27,3.930000,2023
4,All You Had To Do Was Stay (Taylor's Version),1989 (Taylor's Version) [Deluxe],2023-10-27,3.221483,2023

### Top 10 most popular song

In [7]:
# Top 10 most popular songs
top_popular = spotify_df.sort_values(by='popularity', ascending=False)[['name', 'album', 'popularity']].drop_duplicates()

# Show top 10
top_popular.head(10)

,name,album,popularity
277,Cruel Summer,Lover,99
42,Is It Over Now? (Taylor's Version) (From The V...,1989 (Taylor's Version),94
110,Anti-Hero,Midnights,92
278,Lover,Lover,92
267,august,folklore,91
297,Don’t Blame Me,reputation,91
40,Now That We Don't Talk (Taylor's Version) (Fro...,1989 (Taylor's Version),91
261,cardigan,folklore,90
38,"""Slut!"" (Taylor's Version) (From The Vault)",1989 (Taylor's Version),90
24,Style (Taylor's Version),1989 (Taylor's Version),89

In [8]:
# Saving top 10 most popular songs to CSV for using in tableu
top_popular.head(10).to_csv('top_10_popular_songs.csv', index=False)

### average duration per album:

In [34]:
# Group by album and calculate average song duration
avg_duration = spotify_df.groupby('album')['duration_min'].mean().reset_index()

# Sort albums by average duration
avg_duration = avg_duration.sort_values(by='duration_min', ascending=False)

# Display results
avg_duration

                                                album  duration_min
18                          Speak Now World Tour Live      4.952020
15                                          Speak Now      4.788057
17                       Speak Now (Taylor's Version)      4.760645
16                         Speak Now (Deluxe Edition)      4.592006
14                             Red (Taylor's Version)      4.355461
6                           Fearless Platinum Edition      4.181246
4                                            Fearless      4.119069
13                               Red (Deluxe Edition)      4.100803
5                         Fearless (Taylor's Version)      4.097750
21                          evermore (deluxe version)      4.063604
12                                                Red      4.057702
20                                           evermore      4.050233
26     reputation Stadium Tour Surprise Song Playlist      4.049271
22                                           folklore      3.975611
24  folklore: the long pond studio sessions (from ...      3.961898
23                          folklore (deluxe version)      3.949408
0                                                1989      3.753672
25                                         reputation      3.717000
2                             1989 (Taylor's Version)      3.712958
3                    1989 (Taylor's Version) [Deluxe]      3.695530
1                               1989 (Deluxe Edition)      3.618989
19                                       Taylor Swift      3.566186
11                   Midnights (The Til Dawn Edition)      3.503743
7               Live From Clear Channel Stripped 2008      3.491156
10                            Midnights (3am Edition)      3.474387
8                                               Lover      3.436464
9                                           Midnights      3.395305

In [17]:
avg_duration.to_csv('average_duration_by_album.csv', index=False)

### Danceability Over Time

In [18]:
# Group by release year and calculate average danceability
danceability_trend = spotify_df.groupby('release_year')['danceability'].mean().reset_index()

# Sort by year just in case
danceability_trend = danceability_trend.sort_values(by='release_year')

# Preview results
danceability_trend

    release_year  danceability
0           2006      0.545267
1           2008      0.575850
2           2010      0.516380
3           2012      0.628947
4           2014      0.639781
5           2017      0.611541
6           2019      0.658222
7           2020      0.546720
8           2021      0.556055
9           2022      0.631333
10          2023      0.606670

In [19]:
danceability_trend.to_csv('danceability_trend_by_year.csv', index=False)

### songs likely to be live

In [20]:
# Filter songs with high liveness score
live_songs = spotify_df[spotify_df['liveness'] > 0.8][['name', 'album', 'liveness']]

# Sort to see highest scores
live_songs = live_songs.sort_values(by='liveness', ascending=False)

# Preview
live_songs.head(10)

                                name                      album  liveness
431  Better Than Revenge - Live/2011  Speak Now World Tour Live     0.931
425           Sparks Fly - Live/2011  Speak Now World Tour Live     0.918
439              Haunted - Live/2011  Speak Now World Tour Live     0.889
437            Dear John - Live/2011  Speak Now World Tour Live     0.884
429                 Ours - Live/2011  Speak Now World Tour Live     0.867
440            Long Live - Live/2011  Speak Now World Tour Live     0.865
435     Bette Davis Eyes - Live/2011  Speak Now World Tour Live     0.837
432            Speak Now - Live/2011  Speak Now World Tour Live     0.830
427           The Story Of Us - Live  Speak Now World Tour Live     0.815

In [21]:
live_songs.to_csv('likely_live_songs.csv', index=False)

### Loudness Trend Over Time

In [22]:
# Group by release year and calculate average loudness
loudness_trend = spotify_df.groupby('release_year')['loudness'].mean().reset_index()

# Sort by year
loudness_trend = loudness_trend.sort_values(by='release_year')

# Preview
loudness_trend

    release_year   loudness
0           2006  -4.731667
1           2008  -5.439500
2           2010  -5.469020
3           2012  -7.274395
4           2014  -7.238875
5           2017  -6.243492
6           2019  -8.013278
7           2020 -10.342707
8           2021  -7.367466
9           2022 -10.703818
10          2023  -7.313159

In [23]:
loudness_trend.to_csv('loudness_trend_by_year.csv', index=False)

### Speech vs. Music (Speechiness)

In [24]:
# Categorize songs based on speechiness value
def speech_category(value):
    if value > 0.66:
        return 'Spoken Word'
    elif value > 0.33:
        return 'Mixed'
    else:
        return 'Musical'

spotify_df['speech_category'] = spotify_df['speechiness'].apply(speech_category)

# Count how many songs fall into each category
speech_counts = spotify_df['speech_category'].value_counts().reset_index()
speech_counts.columns = ['speech_category', 'count']

# Preview
speech_counts

  speech_category  count
0         Musical    523
1           Mixed      5
2     Spoken Word      2

In [25]:
speech_counts.to_csv('speechiness_category_counts.csv', index=False)

### calculate yearly averages

In [26]:
# Group by year and calculate average tempo and valence
tempo_valence_trend = spotify_df.groupby('release_year')[['tempo', 'valence']].mean().reset_index()

# Sort by year
tempo_valence_trend = tempo_valence_trend.sort_values(by='release_year')

# Preview
tempo_valence_trend

    release_year       tempo   valence
0           2006  126.053800  0.426533
1           2008  122.796725  0.399825
2           2010  132.669640  0.377340
3           2012  110.038921  0.480295
4           2014  125.837156  0.457619
5           2017  122.171262  0.408820
6           2019  119.972722  0.481444
7           2020  117.145646  0.366256
8           2021  125.959466  0.425726
9           2022  118.856758  0.259288
10          2023  123.369159  0.377118

In [27]:
tempo_valence_trend.to_csv('tempo_valence_by_year.csv', index=False)